# Dependencies
node_modules/

# Build output
dist/

# Runtime data (messages & leaderboard, auto-created by server.js)
data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
